* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 1.7; */
  color: #777;
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgb(255, 169, 8, 0),
      rgb(255, 90, 24, 0)
    ),
    url("images/background-image.jpg");
  background-size: cover;
  background-image: center;
  margin: 1em;
}

h1 {
  letter-spacing: 0.25em;
  padding-top: 1em;
}

.heading {
  color: azure;
  text-align: center;
  padding: 0.5em;
}

.heading-main {
  font-size: 50px;
  padding-top: 0.5em;
}

.heading-mid {
  font-size: 30px;
}

.heading-sub {
  font-size: 20px;
}

p {
  color: azure;
  font-family: "Work Sans", sans-serif;
  font-size: 100px;
  padding-top: 150px;
  text-align: center;
}

.options {
  text-align: center;
  padding-top: 10em;
}

#timer {
  left: auto;
  right: auto;
  left: 0;
  right: 0;
  position: absolute;
}
